.navbar {
    @apply flex justify-between items-center p-4 bg-transparent relative z-50;
}

.navbar-brand {
    @apply flex items-center text-xl font-bold text-black cursor-pointer;
}

.navbar-menu {
    @apply hidden md:flex gap-6 justify-center flex-1;
}

.navbar-item {
    @apply text-sm text-white cursor-pointer relative;
}

.navbar-item:hover {
    @apply text-white;
}

.navbar-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: linear-gradient(to right, white, transparent, white);
    background-size: 200% 100%;
    background-position: 0 0;
    transition: background-position 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.navbar-item:hover::after {
    background-position: 100% 0;
    opacity: 1;
}

.sidebar {
    @apply fixed top-0 right-0 w-[60vw] h-full bg-white text-black p-4 border-none transform translate-x-full transition-transform duration-300 ease-in-out;
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
    @apply translate-x-0;
}

.menu-button {
    @apply block md:hidden text-white z-50 relative;
}

.menu-button.fixed {
    position: fixed;
    top: 16px;
    right: 16px;
}

.sidebar-button {
    @apply block text-xl text-black mb-4 transition duration-200 ease-in-out;
}

.sidebar-button:hover {
    @apply underline;
}

.close-button {
    @apply absolute top-4 right-4 bg-transparent border-none cursor-pointer;
}

.close-button:hover {
    @apply opacity-80;
}
